<div class="container">
    <div class="kanban-board">
        <div class="kanban-block" id="user">
            <strong>Users</strong>
        </div>
        <div class="create-new-task-block-user" id="create-new-task-block">
            <strong>New User</strong>
            <span class="form-row">
                <label class="form-row-label" for="task-name">User</label>
                <input class="form-row-input" type="text" name="task-name" id="task-name">
            </span>
            <span class="form-row">
                <label class="form-row-label" for="task-name">Password</label>
                <textarea class="form-row-input" name="task-description" id="task-description" cols="1"
                    rows="1"></textarea>
            </span>
            <span class="form-row-buttons">
                <button id="save-button-user">Save</span>
            </span>
        </div>
    </div>

</div>